* {
    font-size: 130%;
    background-color: black;
    color: red;
}

#Opening-container, #introduction, #examples, #components, #terms-used, #uses, #sample, #image, #more{ 
    display: none;
}

button {
    display: block;
}

h1, h2, h3 {
    text-align: center;
}

h2 {
    text-decoration: underline;
    text-align: center;
}

#definition {
    background-color: gold;
    text-align: center;
    border: 5px inset aliceblue;
    border-left: 10px solid red;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

dt {
    margin-top: 3cm;
    text-decoration: underline;
}

img {
    width: 500px;
    height: 500px;
    align-self: center;
}

button {
    color: white;
    background-color: darkblue;
    border-radius: 30%;
    width: 5cm;
    text-align: center;
    margin-left: 45%;
}

#sample-website {
    font-size: 50%;
    border-top: solid 2px grey;
}

.sample-links {
    margin-left: 10px; 
}

/*.sample-content:hover {
    color: white;
    background-color: grey;
} */

h2[id = "title"] {
    text-decoration: none;
    text-align: center;
}

.sample-image {
    width: 50%;
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
    border-radius: 50%;
}

.artist-paragraph {
    float: right;
    top: 25%;
}

.progress-bar {
    background-color: gainsboro;
    width: 100%;
    height: 2px;
    border: none;
    text-align: center;
}

.progress-complete {
    display: none;
    background-color: green;
    width: 0px;
    height: 2px;
    border: none;   
    text-align: center;
}