#sup {
    color: red;
}
div {
    background-color: white;
    color: purple;
}
#closing{
    background-color: black;
    color: white;
}

#motto {
    border: inset purple;
    background-color: red;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#sup {
    border: 2.5px outset;
}

#img {
    border: 1.5px solid;
    justify-content: justify;
}

#acct {
    color: red;
    font-weight: bold;
}
