#sup {
    color: red;
}
div {
    background-color: white;
    color: purple;
}
#closing{
    background-color: black;
    color: white;
}

#button{
    background-color: green;
    color: white;
    text-decoration: none;
    min-width: 300px;
    min-height: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 5px;
    border-radius: 2px;
}

#button:hover {
    cursor: pointer;
    background-color: lightblue;
}

#motto {
    border: inset purple;
    background-color: red;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#sup {
    border: 2.5px outset;
}

img.img {
    border: 1.5px inset;
    text-align: justify;
}
